* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*  position: fixed;
    transition: background .15s; */
}

.logo {
    max-width: 80%;
    font-family: monospace;
    font-size: 1.9em;
    color: #C19A6B;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
}

.navigation li a {
    position: relative;
    font-family: monospace;
    font-size: 1.6em;
    color: #C19A6B;
    margin-left: 40px;
    text-decoration: none;
    transition: 0, 25s;
}

.navigation li a:hover {
    color: #C19A6B;
    font-weight: bold;
}

#hero {
    width: 100%;
    height: 10vh;
    background: rgb(255, 255, 255);
    background-size: cover;
    position: relative;
}

form {
    max-width: 420px;
    margin: 50px auto;
}

.contact-sec-title {
    color: #C19A6B;
    font-family: monospace;
    font-size: 2.5em;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    text-align: center;
}

.feedback-input {
    color: rgb(7, 7, 7);
    font-family: monospace;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #C19A6B;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #C19A6B;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: monospace;
    width: 100%;
    background: #C19A6B;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: #916836;
}

#footer {
    width: 100%;
    height: auto;
    background-color: #C19A6B;
    font-family: monospace;
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 70px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    max-width: 400px;
    padding-top: 70px;
}

.colum1 h1 {
    font-size: 22px;
    color: #fff;
}

.colum1 p {
    font-size: 16px;
    color: #fff;
    margin-top: 30px;
}

.colum2 {
    max-width: 400px;
    color: #fff;
    padding-top: 70px;
}

.colum2 h1 {
    font-size: 22px;
    color: #fff;
}

.row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 36px;
    height: 36px;
}

.row a {
    margin-top: 10px;
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
}

.colum3 {
    max-width: 400px;
    color: #fff;
    padding-top: 70px;
}

.colum3 h1 {
    font-size: 22px;
    color: #fff;
    margin-left: 20px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label {
    line-height: 20px;
    font-weight: 100;
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer {
    width: 100%;
    color: #fff;
    padding-right: 40px;
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.copyright a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

@media screen and (max-width: 991px) {
    header {
        padding: 20px 40px;
    }
    .toggle {
        position: relative;
        width: 32px;
        height: 40px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1000;
    }
    .toggle::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #C19A6B;
        transform: translateY(-10px);
        transition: 0.25s;
        box-shadow: 0 10px 0 #C19A6B;
    }
    .toggle.active::before {
        transform: translateY(0) rotate(45deg);
        box-shadow: 0 0 0 #fff;
    }
    .toggle::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #C19A6B;
        transform: translateY(10px);
        transition: 0.25s;
    }
    .toggle.active {
        background: #FFFF;
        position: fixed;
        top: 30px;
        right: 30px;
    }
    .toggle.active::after {
        transform: translateY(0) rotate(-45deg);
        box-shadow: 0 0 0 #fff;
    }
    .navigation {
        display: none;
    }
    .navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 999;
        background: #FFFF;
    }
    .navigation li a {
        font-size: 2.5em;
        line-height: 1.5em;
        margin: 10px 0;
        display: inline-block;
    }
    .navigation li a:hover {
        color: #7c6345;
    }
    #footer {
        padding: 10px;
        height: 100%;
    }
    .container-body {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .colum1 {
        margin-top: 40px;
        max-width: 100%;
        padding-left: 20px;
        padding-top: 0px;
    }
    .colum2,
    .colum3 {
        margin-top: 40px;
        padding-left: 10px;
        padding-top: 0px;
    }
    .colum2 {
        padding-left: 20px;
    }
    .copyright {
        padding-left: 15px;
    }
}